##############################################################################
# Copyright 2023, 2025 Leon Lynch
#
# This file is licensed under the terms of the LGPL v2.1 license.
# See LICENSE file.
##############################################################################

name: Formula tests

on:
  push:
  schedule:
    - cron: '0 0 15 * *'

jobs:
  formula-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-15, macos-15-intel, macos-26 ]
        formula: [ tr31, dukpt, emv-utils ]

    name: "${{ matrix.os }}: openemv/tap/${{ matrix.formula }}"
    runs-on: ${{ matrix.os }}

    steps:
    - name: Install openemv/tap/${{ matrix.formula }}
      run: brew install openemv/tap/${{ matrix.formula }}
